/* Base styles */
.question_group {
  display: inline-block;
  width: calc(50% - 10px);
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #ccc;
  padding: 20px;
  box-sizing: border-box;
}


.upload_illustration .upload_text {
  margin-left: auto;
  margin-right: auto;
  width: 240.53px;
  height: 18.07px;
  margin-top: 17px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.upload_img {
  position: relative;
}

.inner {
  position: absolute;
  top: 20px;
  left: 170px;
  width: 100px;
  height: 100px;
}

.upload_img img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.input_field {
  box-sizing: border-box;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 381px;
  height: 45px;
  background: #D9D9D9;
  border: 1px solid #F2F2F2;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 12px;
  outline: 0;
  outline-offset: 0;
}

/* Media queries */
@media only screen and (max-width: 768px) {
  /* Modify styles for screens smaller than 768px */
  .question_group {
    width: 100%;
    height: auto;
    max-width: 440px;
  }

  .upload_illustration .upload_text {
    width: 100%;
    max-width: 240.53px;
  }

  .inner {
    position: static;
    margin: 20px auto 0;
    width: 100%;
    height: auto;
    max-width: 100px;
  }

  .input_field {
    width: 100%;
    max-width: 381px;
  }
}

@media only screen and (max-width: 480px) {
  /* Modify styles for screens smaller than 480px */
  .question_group {
    max-width: 100%;
    padding: 20px;
  }

  .upload_illustration .upload_text {
    font-size: 14px;
    line-height: 18px;
  }

  .inner {
    margin-top: 10px;
  }

  .input_field {
    max-width: 100%;
    padding: 10px;
  }
}
