{% load static %}

<!DOCTYPE html>
<html lang="ru">
 <head>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="{% static 'home/style.css' %}">
 </head>
 <body>
    <header>
        {% block header %}
        {% include 'header.html' %}
        {% endblock %}
    </header>
    <main>
        <div class="main_headline">
            <h1 class="main_h1">Присоединяйтесь к викторине, <br> это время QuizMe!</h1>
            <p class="main_p">Хотите проверить свои знания на прочность и одновременно повеселиться? Не ищите дальше, чем QuizMe, главный пункт назначения для всех вещей мелочи и викторины. С удобным интерфейсом и разнообразными темами, QuizMe - это идеальное место, чтобы присоединиться к безумию викторин и создавать или играть в викторины, которые соответствуют вашим интересам. Если вы любитель истории, кино или спорта, на QuizMe найдется что-то для каждого. Так что заходите к нам и начнем викторину!</p>
        </div>
        <div>
            <h2 class="newst-quiz_h2"><u>Актуальные викторины</u></h2>
            <div class="container">
                {% for quiz in quizes%}
                {% include 'quiz_card.html' %}
                {% endfor %}

            </div>
        </div>
        <div class="button_quiz">
            <div onclick="window.location='/quiz';" class="btn">все тесты</div>
        </div>
        <div class="button_quiz" id="button_group">
            <div onclick="window.location='/quiz/create';" class="btn">создать викторину</div>
        </div>
    </main>
    <footer class="sticky_footer">
        {% block footer %}
        {% include 'footer.html' %}
        {% endblock %}
    </footer>
 </body>
</html>