{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'account/profile_style.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
    </head>
    <body>
     <header>
       {% block header %}
            {% include 'header.html' %}
        {% endblock %}
    </header>
        <main>
            <div class="img_div">
                <img class="img_profile_pic" src="{% static 'quiz.me/images/image_placeholder.png' %}">
            </div>
            <div class="last_activity">
                <div class="div_text">
                    <P class="text">Последние действия</P>
                </div>
                <div class="container">
                    {% include 'quiz_card.html' %}
                    {% include 'quiz_card.html' %}
                    {% include 'quiz_card.html' %}
                    {% include 'quiz_card.html' %}
                    {% include 'quiz_card.html' %}
                    {% include 'quiz_card.html' %}
                    {% include 'quiz_card.html' %}
                    {% include 'quiz_card.html' %}
                </div>
            </div>
            <div class="container_statistic">
                <div class="statistic">
                    <div class="div_text">
                        <p class="text">Ваша статистика</p>
                    </div>
                    <div>
                        <div class="div_progress">
                            <p class="text_progress">Лайков</p>
                            <div class="progress_container">
                                <div id="myBar" class="progress_bar" style="background-color:#34547A; height:15px; width:60%"></div>
                            </div>
                            <p class="text_progress_count">1000</p>
                        </div>
                    </div>
                    <div>
                        <div class="div_progress">
                            <p class="text_progress">Комментариев</p>
                            <div class="progress_container">
                                <div id="myBar" class="progress_bar" style="background-color:#34547A; height:15px; width:45%"></div>
                            </div>
                            <p class="text_progress_count">1000</p>
                        </div>
                    </div>
                    <div>
                        <div class="div_progress">
                            <p class="text_progress">Квизов</p>
                            <div class="progress_container">
                                <div id="myBar" class="progress_bar" style="background-color:#34547A; height:15px; width:70%"></div>
                            </div>
                            <p class="text_progress_count">1000</p>
                        </div>
                    </div>
                    <!--<button class="w3-button w3-light-grey" onclick="move()">Click Me</button>-->
                </div>
                <div class="settings">
                    <form method="POST">
                    <div class="settings-cointenar">
                        <div class="change_email">
                            <div class="div_text_email">
                                <p class="text_email">Изменить почту</p>
                            </div>
                            <div class="setting_email">
                                <div class="div_input_background">
                                    <div class="input_field">
                                        <input type="text" name="email" placeholder="your.email@gmail.com" required>
                                    </div>
                                        <div class="submit_input_button">
                                        <button type="submit">изменить</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="change_email">
                            <div class="div_text_email">
                                <p class="text_email">Изменить имя</p>
                            </div>
                            <div class="setting_email">
                                <div class="div_input_background">
                                    <div class="input_field">
                                        <input type="text" name="email" placeholder="your.email@gmail.com" required>
                                    </div>
                                        <div class="submit_input_button">
                                        <button type="submit">изменить</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="change_email">
                            <div class="div_text_email">
                                <p class="text_email">Изменить возраст</p>
                            </div>
                            <div class="setting_email">
                                <div class="div_input_background">
                                    <div class="input_field">
                                        <input type="text" name="email" placeholder="your.email@gmail.com" required>
                                    </div>
                                        <div class="submit_input_button">
                                        <button type="submit">изменить</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </main>
    <footer class="sticky_footer">
        {% block footer %}
        {% include 'footer.html' %}
        {% endblock %}
    </footer>
    </body>
</html>
<script>
function move() {
  var elem = document.getElementById("myBar");
  var width = 1;
  var id = setInterval(frame, 10);
  function frame() {
    if (width >= 100) {
      clearInterval(id);
    } else {
      width++;
      elem.style.width = width + '%';
    }
  }
}
</script>