<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Вход</title>
</head>
<body>
  {% load static %}
  {%include 'header.html'%}
  <form method="POST">
    <link rel="stylesheet" href="{% static 'account/style.css' %}">
    <h1>Вход</h1>
    <div class="">
      <p class="cent"><img src="{% static '/quiz.me/images/logo.svg' %}" alt="logo" width="200" height="200"></p>
    {% csrf_token %}
    <input type="text" name="username" placeholder="Username" required>
    <div class="login">
      <input type="password" name="password" placeholder="  Пароль" required>
      <button type="submit">Войти</button>
    </div>
    
    <div class="check">
      <input type="checkbox" name="public_computer" id="public-computer">
      <label for="public-computer">Чужой компьютер</label>
    </div>
    <div class="forgot-password">
      <a href="#" style="color:White;">Забыли пароль? </a>
    </div>
    <button type="registration" onclick="location.href='http://127.0.0.1:8000/account/register'">Регистрация</button>
  </form>
    </div>
    <footer class="sticky_footer">
        {% block footer %}
        {% include 'footer.html' %}
        {% endblock %}
    </footer>
</body>

</html>