
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Регистрация</title>

</head>
<body>
  {% load static %}
  {%include 'header.html'%}

  <link rel="stylesheet" href="{% static 'account/style.css' %}" >
  <form method="POST">
    <h1>Регистрация</h1>
    <p class="cent"><img src="{% static '/quiz.me/images/logo.svg' %}" alt="logo" width="200" height="200"></p>
    {% csrf_token %}
    <input type="email" name="email" placeholder="  Email" required>
    <input type="password" name="password1" placeholder="  Пароль" required>
    <input type="password" name="password2" placeholder="  Подтверждение пароля" required>
    <input type="text" name="username" placeholder="  Имя" required>
    <input type="date" name="date_of_birth" placeholder="  Дата рождения" required>
    <input type="submit" value="Зарегистрироваться">
  </form>
    <footer class="sticky_footer">
        {% block footer %}
        {% include 'footer.html' %}
        {% endblock %}
    </footer>
</body>

</html>
