@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,700&family=Raleway:ital,wght@1,700&display=swap');

body{
    background-color: #292767;
}

.img_div {
    margin: auto;
    display: block;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 20px;
    }
img.img_profile_pic{
    width: auto;
    height: 100%;
    margin-left: -60px;
}
div.div_text {
    margin-left: 15px;
    margin-bottom: 30px;
}
p.text {
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-size: 40px;
    color: #FFFFFF;
    /*text-align: center;*/
    text-decoration-skip-ink: none;
    text-decoration-line: underline;
    text-underline-offset: 7px;
    text-decoration-thickness: 5px;
}
div.container {
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    padding: auto;
    flex-wrap: wrap;
}
div.container_statistic {
    display: flex;
    justify-content: space-evenly;
    margin-right: auto;
    margin-left: auto;
    padding: auto;
    flex-wrap: wrap;
}
div.statistic {
    margin-left: 15px;
    margin-right: 15px;
}
div.settings {
    margin-left: 15px;
    margin-right: 15px;
}

div.progress_container {
    margin-top: -6px;
    background-color: #C4C4C4;
}
p.text_progress {
    color: #7876AF;
    font-size: 16px;
}
p.text_progress_count {
    margin-top: 0px;
    text-align: end;
    color: #7876AF;
    font-size: 15px;
}
/*settings*/
div.settings {
    margin
}
div.div_input_background {
    background-color: #FFFFFF;
    padding:10px;
}
div.submit_input_button {
    vertical-align: middle;
}













