@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@500&display=swap');
  
  input[type="text"],
  input[type="date"] {
    display: block;
    margin: 20px auto;
    padding: 14px 0px; 
    width: 100%;
    font-size: 16px;
    border-radius: 25px;
    border: none;
    background-color: #fff;
  }
  input[type="submit"] {
    display: block;
    margin: 20px auto;
    padding: 14px 20px;
    font-size: 16px;
    border-radius: 25px;
    border: none;
    background-color: #292767;
    color: #fff;
    cursor: pointer;
  }
  .font{
    font-family: 'Montserrat';
  }

  .cent {
    text-align: center; 
    background-color: #292767;
    border-radius: 25px;
   }
  
  input[type="submit"]:hover {
    background-color: #1a1a4b;
  }
  body {
    background-color: #292767;
  }
  h1 {
    text-align: center;
    font-family: 'Roboto';
    margin-top: 0px;
    color: #fff;
  }
  label {
    text-align: center;
    margin-top: 50px;
    color: #fff;
  }
  div[class="forgot-password"] {
    text-align: center;
    margin-top: 20px;
    color: #fff;
  }
  div[class="check"] {
    text-align: center;
    margin-top: 20px;
    color: #fff;
  }
  form {
    margin: 50px auto;
    width: 350px;
    background-color: #6260AE;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #888888;
  }
  input[type="email"],
  input[type="password"] {
    display: block;
    margin: 20px auto;
    padding: 10px 0px;
    width: 100%;
    font-size: 16px;
    border-radius: 25px;
    border: none;
    background-color: #fff;
  }
  .login {
    position: relative;
  }
  .login input[type="password"] {
    padding-right: 10px 0px;
  }
  .login button {
    position: absolute;
    top: 0;
    right: 0px;
    padding: 10px 20px;
    border: none;
    background-color: #292767;
    color: #fff;
    font-size: 16px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    cursor: pointer;
  }
  .forgot-password {
    text-align: center;
  }
  button[type="registration"] {
    width: 100%;
    display: block;
    margin: 20px auto;
    padding: 10px 0px;
    font-size: 16px;
    border-radius: 25px;
    border: none;
    background-color: #292767;
    color: #fff;
    cursor: pointer;
  }