@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,700&display=swap');

body {
    background-color: #292767;
    margin: 0px;
}
h1.main_h1 {
    font-size: 125px;
    margin-top: 35px;
    color: #FFFFFF;
    text-align: center;
}
h2.newst-quiz_h2 {
    font-size: 30px;
    margin-top: 30px;
    color: #FFFFFF;
    text-align: center;
}
div.container {
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    padding: auto;
    flex-wrap: wrap;
}