@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');

body {
    background-color: #292767;
    margin: 0;
}

.quiz_create_h1{
    text-align: center;
    font-size: 65px;
    color: #fff;
}
.container_quiz_create{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
/*    1 row in quiz create     */
.row_quiz_create_1{
    margin: 50px;
    color: white;
}
.div_quiz_title{
    background-color: #ffff;
    padding: 5px;
    padding-left: 10px;
    border-radius: 10px;
}
.input_quiz_title {
    display: block;
    padding: 14px 0px;
    width: 100%;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: #fff;
}
.div_quiz_description{
        background-color: #ffff;
        padding: 5px;
        padding-left: 10px;
        border-radius: 10px;
}
.input_quiz_description {
    display: block;
    padding: 14px 0px;
    width: 100%;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: #fff;
}
.quiz_time_limited{
    display: block;
    margin: 20px auto;
    margin-left: 0px;
    padding: 7px;
    width: 60%;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    background-color: #fff;
}

/*      2 row in quiz create      */
.row_quiz_create_2{
    margin: 50px;
    color: white;
    text-align: center;
}
.upload-photo {
     cursor: pointer;
     background: white;
     width: 200px;
     height: 100px;
     display: block;
     border-radius: 10px;
     margin: 10px auto;
}
.upload-image {
     opacity: 0;
     position: absolute;
     z-index: -1;
}
.text_upload_image {
     color: #000000;
     height: 100%;
     margin-top: auto;
}
/*  switch slider  */

.switch {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #2196F3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(66px);
  -ms-transform: translateX(66px);
  transform: translateX(66px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
/* end of switch slider  */
.quiz_questions_h1{
    text-align: center;
    font-size: 65px;
    color: #fff;
}
div.container_quiz_create_question_block {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
rect[class="quiz-question-background"] {
    background: #6260AE;
    border-radius: 12px;
    color:#FFFFFF;
    margin: 20px;
}
.quiz-question_frame {
    padding: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 20px;
}
.quiz-question_h2 {
    font-size: 30px;
    color: #fffff;
    align-self: center;
}
.text_input_field_div {
    align-self: center;

}
.text_input_field_div {
    background-color: #ffff;
    padding: 5px;
    padding-left: 10px;
    border-radius: 10px;
    margin: 5px 10px 5px 10px;
    width: 60%;
}
.question_title {
    display: block;
    padding: 8px 0px;
    width: 60%;
    font-size: 15px;
    border: none;
    outline: none;
    background-color: #fff;
}
#answer-time-limit-div{
    align-self: center;

}
.quiz_title_answer_div {
    align-self: center;
}

.answer_container{
    display: flex;
    flex-direction: column;
}
.answer-div {
    align-self: center;
    background-color: #ffffff;
    padding: 10px 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 23px;
    align-self: center;
}
.del-ans {
    color: #ffff;
    background-color: #cc0000;
    border-radius: 17px;
    padding: 3px 5px;
    border: none;
    outline: none;
    transition: 1s;
}
.del-ans:hover {
    cursor: pointer;
    background-color: #b70000;
    transform: scale(1.2);
}
.answer-input{
    border: none;
    outline: none;
}
.answer-right-checkbox{
    padding: 15px;
}
.quiz-new-question-background {
    text-align: center;
    display: flex;
    flex-direction: column;
}
button.add-new-question {
    border-radius: 30px;
    background: #6260AE;
    width: 300px;
    height: 45px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    align-self: center;
    text-align: center;
    margin: auto;
}
.add-new-question:hover{
    cursor: pointer;
}
.add-ans {
    border: none;
    outline: none;
    background-color: #ffffff;
    transition: 1s;
    align-self: center;
    padding: 10px 15px;
    border-radius: 23px;
    padding-left-right: 10px;
}
#add-answer-div{
    margin-top: 10px;
    align-self: center;
}
.add-ans:hover {
    cursor: pointer;
    transform: scale(1.2);
    background-color: #01b301;
}