@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,700&display=swap');

body {
    background-color: #292767;
}
.whole_quiz {
    width: 85%;
    margin: 0 auto;
    color: white;
    text-align: center;
    padding: 20px;
}
.text_h1_quiz{
    text-align: left;
    margin-bottom: 5px;
}
/*     radio buttons     */
.div_radio_buttons{
    text-align: left;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}
label {
    display: block;
    max-width: 100%;
}
.radio_button_text {
    display: inline-block;

}

/*     begin of quiz container     */
.container_for_quiz {
    background-color: #6260AE;
    text-align: center;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    max-width: 100%;
}
.container_images {
    flex-basis: 50%;
}
.quiz_image {
    overflow: hidden;
}
.quiz_image img {
    width: 100%;
    height: 100%;
    vertical-align: bottom;
}
.main_part_quiz {
    flex-direction: row;
    flex-basis: 50%;
}
.count_of_questions_left {
    text-align: right;
    margin-bottom: 5px;
    margin-right: 15px;
}
.question_quiz {
    margin-top: 10px;
    text-align: left;
    margin-left: 15px;
}

/* button next question  */
div.button_quiz {
    text-align: right !important;
}
.final_result{
    text-align: center;
    font-size: 30px;

}
#correct_answer_count {
    text-align: center;
}
.button_leave_quiz{
    text-align: center;
}
.btn_leave{
    background-color: #6260AE;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    margin: 10px 6px 10px;
    border-radius: 10px;
    display: inline-block;
    background-color: #cc0000;
    transition: 0.6s;
}
.btn_leave:hover{
    background-color: #b70000;
    transform: scale(1.2);
    cursor: pointer;
}
.btn {
    background-color: #6260AE;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    margin: 10px 6px 10px;
    border-radius: 10px;
    display: inline-block;
    transition: 0.6s;
}
.btn:hover {
    background-color: #cfcfe6;
    transform: scale(1.2);
    cursor: pointer;
}