body {
    background-color: #292767;
}

div.card_body {
    background-color: #6260AE;
    margin: auto;
    margin-top: 40px;
    border-radius: 8%;
    transition: 0.6s;
    max-width: 1000px;
}

div.card_body:hover{
    transform:scale(1.05);
    cursor: pointer;
    animation-name: bigentry;

}
.card_content {
    margin: 15px;
}
img.card_image {
    border-top-left-radius: 8%;
    border-top-right-radius: 8%;
    max-width: 100%;
    max-height: 100%;
}
.card_title {
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-size: 40px;
    color: #FFFFFF;
    margin: 4px 0px 9px  0px;
    text-align: center;
}
.card_text {
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    color: #FFFFFF;
    padding: 4px 0px 19px  0px;
    text-align: center;
}
.button_container{
}
.btn {
    background-color: #6260AE;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 10px;
    margin-top: 30px;
    border-radius: 10px;
    display: inline-block;
    color: #ffffff;
    transform:scale(1.6);
    transition: 0.6s;
}
.button_quiz {
    text-align: center !important;
}
.btn:hover {
    background-color: #cfcfe6;
    transform:scale(1.9);
    cursor: pointer;
}