@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');

body {
    background-color: #292767;
    margin: 0;
}

.quiz_create_h1{
    text-align: center;
    font-size: 65px;
    color: #fff;
}
h2, h1, h3 {
  font-family: 'Montserrat', sans-serif;
}

div.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
div.row {
    margin: 50px;
    color: white;
}
div.row_2 {
    margin: 50px;
    color: white;
    text-align: center;
}
label[class="upload-photo"] {
   cursor: pointer;
   background: white;
   width: 200px;
   height: 100px;
   display: block;
   border-radius: 10px;
   margin: 10px auto;
}

.upload-image {
   opacity: 0;
   position: absolute;
   z-index: -1;
}
input[type="date"] {
    display: block;
    margin: 20px auto;
    padding: 14px 0px;
    width: 100%;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    background-color: #fff;
}
input[type="number"] {
    display: block;
    margin: 20px auto;
    margin-left: 0px;
    padding: 7px;
    width: 60%;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    background-color: #fff;
}
input[type="submit"] {
    display: block;
    margin: 20px auto;
    padding: 14px 20px;
    font-size: 16px;
    border-radius: 25px;
    border: none;
    background-color: #292767;
    color: #fff;
    cursor: pointer;
}

input[class="question"] {
    margin: 30px auto;
    width: 95%;
}
div.answer-div {
    background: #7876AF;
    height: 30px;
    border-radius: 5px;
    width: 95%;
    margin: 30px auto;
    display: flex;
}
h2.ans {
    margin-top: 1px;
    margin-left: 30px;
    margin-right: auto;
}
img.arrow {
    float: right;
    margin-right: 10px;
}
input.answer-input {
    border-radius: 0px 0px 0px 0px;
    border: none;
    outline: none;
    -webkit-appearance: none;
    width: 374px;
    height: 1px;
    vertical-align: middle;
    margin-top: 0px;
    margin-right: auto;
}
button.del-ans {
    width: 29px;
    height: 29px;
    border: none;
    border-radius: 5px 0px 0px 5px;
    margin-right: 0px;
}
input[class="answer-right-checkbox"] {
    width: 31px;
    height: 31px;
    border: none;
    border-radius: 0px 15px 15px 0px;
    margin-right: auto;
    margin-left: 0px;
    margin-top: 0px;
}
input.answer-time-limit {
    margin: 10px auto;
}
button.add-ans {
    background: #4654F6;
    border-radius: 15px;
    width: 223px;
    height: 33.45px;
    margin-left: 20px;
    border: none;
    color: #fff;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
}
h2.selection {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: center;
}
div.selection {
    text-align: center;
}
label[class="answer-input"] {
    border-radius: 0px;
}
h2.selection-text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}
h2.selection {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin: 20px auto;
}
label.selection-switch {
    margin: 10px auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 40px;
}

input[class="quiz-submit"] {
    background-color: #6260AE;
    width: 221.64px;
    height: 40px;
    border-radius: 30px;
    text-align: center;

}


.card_content {
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 13px;
}

h5 {
  font-size: 13px;
}

.card_body {
  width: 298.17px;
  height: 370.8px;
}

.card_image {
    border-top-left-radius: 8% !important;
    border-top-right-radius: 8% !important;
    width: 100% !important;
    height: 180px !important;
}



rect.quiz-new-question-background {
    height: 640px;
    width: 440px;
    margin: auto;
    border: 3px solid #fff;
    border-radius: 10px;
    text-align: center;
    margin-left: 10px;
}

button.add-new-question {
    border-radius: 30px;
    background: #6260AE;
    width: 300px;
    height: 45px;
    border: none;
    margin: auto auto;
    margin-top: 60%;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}

div.container_quiz_create_question_block {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.text_input_field_div {
label[class="upload-photo"] {
   cursor: pointer;
   background: white;
   width: 200px;
   height: 100px;
   display: block;
   border-radius: 10px;
   margin: 10px auto;
}

.upload-image {
   opacity: 0;
   position: absolute;
   z-index: -1;
}

#text_input_field,
input[type="date"] {
    display: block;
    margin: 20px auto;
    padding: 14px 0px;
    width: 100%;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    background-color: #fff;
}
input[type="number"] {
    display: block;
    margin: 20px auto;
    margin-left: 0px;
    padding: 7px;
    width: 60%;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    background-color: #fff;
}
input[type="submit"] {
    display: block;
    margin: 20px auto;
    padding: 14px 20px;
    font-size: 16px;
    border-radius: 25px;
    border: none;
    background-color: #292767;
    color: #fff;
    cursor: pointer;
}

input[class="question"] {
    margin: 30px auto;
    width: 95%;
}
div.answer-div {
    background: #7876AF;
    height: 30px;
    border-radius: 5px;
    width: 95%;
    margin: 30px auto;
    display: flex;
}
h2.ans {
    margin-top: 1px;
    margin-left: 30px;
    margin-right: auto;
}
img.arrow {
    float: right;
    margin-right: 10px;
}
input.answer-input {
    border-radius: 0px 0px 0px 0px;
    border: none;
    outline: none;
    -webkit-appearance: none;
    width: 374px;
    height: 1px;
    vertical-align: middle;
    margin-top: 0px;
    margin-right: auto;
}
button.del-ans {
    width: 29px;
    height: 29px;
    border: none;
    border-radius: 5px 0px 0px 5px;
    margin-right: 0px;
}
input[class="answer-right-checkbox"] {
    width: 31px;
    height: 31px;
    border: none;
    border-radius: 0px 15px 15px 0px;
    margin-right: auto;
    margin-left: 0px;
    margin-top: 0px;
}
input.answer-time-limit {
    margin: 10px auto;
}
button.add-ans {
    background: #4654F6;
    border-radius: 15px;
    width: 223px;
    height: 33.45px;
    margin-left: 20px;
    border: none;
    color: #fff;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
}
h2.selection {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: center;
}
div.selection {
    text-align: center;
}
label[class="answer-input"] {
    border-radius: 0px;
}
h2.selection-text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}
h2.selection {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin: 20px auto;
}
label.selection-switch {
    margin: 10px auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 40px;
}

input[class="quiz-submit"] {
    background-color: #6260AE;
    width: 221.64px;
    height: 40px;
    border-radius: 30px;
    text-align: center;

}
.slider_frame{
    margin-top: 30px;
}
.switch {
    margin-right: auto;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 40px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 32px;
    width: 32px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(60px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.card_content {
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 13px;
}

h5 {
  font-size: 13px;
}

.card_body {
  width: 298.17px;
  height: 370.8px;
}

.card_image {
    border-top-left-radius: 8% !important;
    border-top-right-radius: 8% !important;
    width: 100% !important;
    height: 180px !important;
}

/*         new question style        */

rect[class="quiz-question-background"] {
    background: #6260AE;
    border-radius: 12px;
    color:#000;
}

rect.quiz-new-question-background {
    height: 640px;
    width: 440px;
    margin: auto;
    border: 3px solid #fff;
    border-radius: 10px;
    text-align: center;
    margin-left: 10px;
}

button.add-new-question {
    border-radius: 30px;
    background: #6260AE;
    width: 300px;
    height: 45px;
    border: none;
    margin: auto auto;
    margin-top: 60%;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}

div.container_quiz_create_question_block {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.text_input_field_div {
    background-color: #FFFFFF;
    margin: 5px;
    padding 5px;
}
