<!-- Nikitin's task -->
{% load static %}

<!DOCTYPE html>
<html lang="ru">
 <head>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="{% static 'quiz/style.css' %}">
 </head>
 <body>
    <header>
        {% block header %}
        {% include 'header.html' %}
        {% endblock %}
    </header>
    <div>
        <h2 class="create-quiz_h2">Настройки квиза</h2>
    </div>
    <form method="POST">
        {% csrf_token %}
        <div class="container">
            <div>
                <h1>Название:</h1>
                <input type="text" name="title" placeholder="Например: Кто ты из смешариков?" required>
                <h1>Описание:</h1>
                <input type="text" name="description" placeholder="Например: Кто ты из смешариков?" required>
                <h1>Ограничение по времени на вопрос:</h1>
                <input type="number" name="time_limited" placeholder="Ограничение по времени в минутах" min="0" value="0" required>
            </div>
            <div>
                <h1>Иллюстрация для обложки</h1>
                <label for="upload-photo" class="upload-photo"></label>
                <input type="file" class="upload-image" id="upload-photo" name="illustration" accept="image/png, image/jpeg, image/jpg" />
                <h1>Публичный квиз</h1>
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>
            <div>
                {% include 'quiz_card.html' %}
            </div>
        </div>
        <div>
            <h2 class="quiz-questions_h2">Вопросы</h2>
            <div class="container">
                <rect class="quiz-question-background">
                    <div>
                        <h1 class="quiz-question_h1">Иллюстрация для вопроса:</h1>
                        <label for="question-photo_01" class="upload-photo">
                            <input type="file" class="upload-image" id="question-photo_01" name="question-img_01" accept="image/png, image/jpeg, image/jpg" />
                        </label>
                        <input type="text" name="quest-text_01" class="question" placeholder="Текст вопроса">
                        <div class="answer-div">
                            <h2 class="ans">Ответы</h2>
                            <image src="{% static 'quiz/arrow.png' %}" class="arrow"></image>
                        </div>
                        <div class="answer-div">
                            <button class="del-ans" id="del-ans_01">X</button>
                            <input type="text" class="answer-input" id="answer-input_01">
                        </div>
                        <div>
                            <button class="add-ans" id="add_ans01">Добавить ответ</button>
                        </div>
                        <div class="selection">
                            <h2 class="selection">Выбор</h2>
                            <div class="container">
                                <h2 class="selection-text">Одиночный</h2>
                                <h2 class="selection-text">Множественный</h2>
                            </div>
                            <label class="selection-switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        </div><!-- a -->
                    </div>
                </rect>
                <rect class="quiz-new-question-background">
                    <button class="add-new-question"> Добавить вопрос </button>
                </rect>
            </div>
            <div>
                <input type="submit" value="Создать" class="quiz-submit">
            </div>
        </div>
    </form>
    <footer class="sticky_footer">
        {% block footer %}
        {% include 'footer.html' %}
        {% endblock %}
    </footer>
     <script type="text/javascript">
         document.getElementById('changeOnClick').setAttribute( "onClick", "" );
    </script>
 </body>
</html>
