{% load static %}

<!DOCTYPE html>
<html lang="ru">
 <head>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="{% static 'quiz/quiz_page_style.css' %}">
 </head>
 <body>
    <header>
        {% block header %}
        {% include 'header.html' %}
        {% endblock %}
    </header>
    <main>
        <div>
            <div  class="card_body" onclick="location.href='http://127.0.0.1:8000/quiz/{{quiz.id}}'" id="changeOnClick">
                <!-- Change the onclick, to whatever starts the session -->
                <img class="card_image" src="{% static 'quiz.me/images/image_placeholder.png' %}" alt="Quiz Image">
                <div class="card_content">
                    <h5 class="card_title">{{quiz.title|default:"This Quiz has no title"}}</h5>
                    <p class="card_text">{{quiz.description|default:"This Quiz has no description"}}</p>
                </div>
            </div>
                <div class="button_quiz" id="button_group">
                    <div onclick="window.location='http://127.0.0.1:8000/quiz/9/session/123123/';" class="btn">start quiz</div>
                    <!-- Change the onclick, to whatever starts the session -->
                </div>
        </div>
    </main>
    <footer class="sticky_footer">
        {% block footer %}
        {% include 'footer.html' %}
        {% endblock %}
    </footer>
 </body>
</html>