{% load static %}

<!DOCTYPE html>
<html lang="ru">
 <head>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="{% static 'quiz/quiz_create_style.css' %}">
 </head>
 <body>
    <header>
        {% block header %}
        {% include 'header.html' %}
        {% endblock %}
    </header>

    <template class="quiz-question-template">
        <rect class="quiz-question-background">
        <div class="quiz-question_frame">
            <!--
            <h2 class="quiz-question_h2">Иллюстрация для вопроса:</h2>
            <label for="question-photo_01" class="upload-photo">
                <input type="file" class="upload-image" id="question-photo_01" name="question-img_01" accept="image/png, image/jpeg, image/jpg" />
            </label> -->
            <div class="text_input_field_div">
                <input id="text_input_field"  type="text" name="question_text" class="question_title" placeholder="Текст вопроса">
            </div>
            <div class="quiz_title_answer_div">
                <h2 class="quiz-question_h2">Ответы</h2>
            </div>
            <div class="answer_container">
                <div class="answer-div">
                    <button class="del-ans" id="del-ans">X</button>
                    <input type="text" class="answer-input" id="answer-input_1" name="option_text" placeholder="1 ответ">
                    <input type="radio" class="answer-right-checkbox" id="answer-checkbox_1" name="option_is_correct">
                </div>
            </div>
            <div id="add-answer-div">
                <button class="add-ans" id="add_ans">Добавить ответ</button>
            </div>
        </div>
    </rect>
    </template>
    
    <div class="quiz_create_frame">
        <div>
            <h1 class="quiz_create_h1">Создание квиза</h1>
        </div>
        <div class="container_quiz_create">
            <div class="row_quiz_create_1">
                <h2>Название:</h2>
                <div class="div_quiz_title">
                    <input class="input_quiz_title" type="text" name="title" placeholder="Например: Кто ты из смешариков?" required>
                </div>
                <h2>Описание:</h2>
                <div class="div_quiz_description">
                     <input class="input_quiz_description" type="text" name="description" placeholder="Например: Эта викторина проводится для того, чтобы узнать, какой из смешариков ты?" required>
                <!--<p><span class="textarea" name="description" contenteditable></span></p>-->
                </div>
                <!--<h2>Ограничение по времени на вопрос:</h2>
                <input class="quiz_time_limited" type="number" name="time_limited" placeholder="Ограничение в минутах" min="0"  required>-->

            </div>
            <div class="row_quiz_create_2">
                <!-- <h2>Иллюстрация для обложки</h2>
                <label for="upload-photo" class="upload-photo">
                    <input type="file" class="upload-image" id="upload-photo" name="illustration" accept="image/png, image/jpeg, image/jpg" />
                    <p class="text_upload_image">Выберите желаемое изображение для викторины</p>
                </label> -->
            <div class="slider_frame">
                    <h2>Публичный квиз</h2>
                    <label class="switch">
                        <input class="quiz_is_private" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
        </div>
        <div>
            <h1 class="quiz_questions_h1">Вопросы</h1>
            <div class="container_quiz_create_question_block">
                <!-- Template for quiz question -->
               
            </div>
            <div class="quiz-new-question-background">
                <button class="add-new-question" id="add_new-question"> Добавить вопрос </button>
            </div>
        </div>
        <div>
            <input type="submit" value="Создать" class="quiz-submit">
        </div>
    </div>
    <footer class="sticky_footer">
        {% block footer %}
        {% include 'footer.html' %}
        {% endblock %}
    </footer>

    <div id="csrf-token" data-token="{{ csrf_token }}"></div>


    <script src="{% static 'quiz/add_quiz_card.js' %}"></script>
    <script src="{% static 'quiz/quiz_create_script.js' %}"></script>
    <script src="{% static 'quiz/add_option.js' %}"></script>
    <script src="{% static 'quiz/remove_option.js' %}"></script>

 </body>
</html>