{% load static %}

<!DOCTYPE html>
<html lang="ru">
 <head>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="{% static 'quiz/quiz_session_style.css' %}">
 </head>
 <body>
    <header>
        {% block header %}
        {% include 'header.html' %}
        {% endblock %}
    </header>

    <template class="radio_group_template">
        <label>
            <input class="radio_button" type="radio" name="option_group">
            <p class="radio_button_text">Red</p>
        </label>
    </template>
        
    </template>
    <main>
        <div class="whole_quiz">
            <h1 class="text_h1_quiz">Кем вы хотите стать?</h1>
            <div class="container_for_quiz">
                <div class="container_images">
                    <div class="quiz_image">
                        <img src="{% static 'quiz.me/images/image_placeholder.png' %}">
                    </div>
                </div>
                <div class="main_part_quiz">
                    <p class="count_of_questions_left">1/12</p>
                    <h2 class="question_quiz">What is going on?</h2>
                    <form>
                        <div class="div_radio_buttons">

                            <!-- <label>
                                <input class="radio_button" type="radio" name="color" value="blue">
                                <p class="radio_button_text">Blue</p>
                            </label>
                            <label>
                                <input class="radio_button" type="radio" name="color" value="green">
                                <p class="radio_button_text">Green</p>
                            </label>
                            <label>
                                <input class="radio_button" type="radio" name="color" value="green">
                                <p class="radio_button_text">Green</p>
                            </label> -->
                        </div>
                    </form>
                </div>
            </div>
            <div class="button_quiz">
                <div class="btn">next question</div>
            </div>
        </div>
        <template class="session_finished_group_template">
                        <h2 class="final_result">Поздравляю!!!</h2>
                        <p id="correct_answer_count"></p>
                        <div class="button_leave_quiz">
                            <div onclick="window.location='http://127.0.0.1:8000/'" class="btn_leave">ПОКИНУТЬ ЭТУ ВИКТОРИНУ</div>
                        </div>
            </div>
        </template>
    </main>
    <script src="{% static  'quiz/session_script.js' %}"></script>
 </body>
</html>