{% load static %}

<!DOCTYPE html>
<html lang="ru">
 <head>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="{% static 'quiz/quiz_main_style.css' %}">
 </head>
 <body>
    <header>
        {% block header %}
        {% include 'header.html' %}
        {% endblock %}
    </header>
    <main>
        <div class="main_headline">
            <h1 class="main_h1">квизы</h1>
        </div>
        <div>
            <h2 class="newst-quiz_h2"><u>Актуальные викторины</u></h2>
            <div class="container">
                {% for quiz in quizes %}
                {% include 'quiz_card_all.html' %}
                {% endfor %}
            </div>
        </div>
    </main>
    <footer class="sticky_footer">
        {% block footer %}
        {% include 'footer.html' %}
        {% endblock %}
    </footer>
 </body>
</html>