@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@400&display=swap');

body {
    background-color: #292767;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
html, body {
  height: 100%;
  margin: 0;
}
.footer_background {
    background-color: #3e3c76;
}
.footer_frame {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
    border-top: 1px solid #E0E0E0;
    bottom: 0px;
}
.sticky_footer{
    bottom: 0px;
    margin-top: auto;
}
.footer_div{
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.footer_header{
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 600;
    color: white;
}
.footer_links {
    text-align: left;
    padding: 20px;
}
li{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 5px;
    color: #999999;
}

.rights{
    margin-top: 10px;
    font-family: 'Montserrat';
    font-weight: 400;
    color: #999999;
    font-size: 12px;
    text-align: center;
    padding-bottom: 30px;
}
.contact_link {
    text-decoration:none;
    color: #999999;
}
.contact_link:hover {
    cursor:pointer;
}
