@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,700&family=Raleway:ital,wght@1,700&display=swap');
body {
    margin: 0px;
    padding-top: 140px;
}
.navbar_frame{
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #292767;
}
.navbar_div{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-bottom:10px;
    align-items: center;
    margin-right: 40px;
    margin-left: 60px;
}

.navbar_seperator {
    color: #7876b3;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.navbar_image {
    width: 74px;
    height: 58px;
    cursor: pointer;
}

.link{
    font-family: 'Open Sans';
    margin-left:20px;
    font-size: 30px;
    padding-bottom:33px;
    vertical-align: middle;
    color: #FFFFFF;
}
a.link:hover{
    color:#9493b3;

    transition: 0.6s;
}
input.navbar_input{
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 33px;
    background: transparent;
    border: none;
    outline: none;
    width: 372px;
    height: 32.71px;
    padding-left: 10px;
    margin-right: 5px;
}
::placeholder {
    color: #B0B8D6;
}
.navbar_search{
    vertical-align: middle;
    background-color: #7876AF;
    padding: 5px;
    border-radius: 21px;
    transition: 0.6s;
    display: flex;
    align-items: center;
}
.navbar_search:hover{
    box-shadow: 1px 1px 10px 15px #24235C;
}
.img_loup {
    width: 25px;
    height: 25px;
    margin-left: 5px;
}
.img_loup:hover {
    transition: 0.4s;
    transform:scale(1.2);
}

.dropdown_menu {
    background-color: #696794;
    padding: 1px 7px 5px 1px;
    color: #FFFFFF;
    font-family: 'Open Sans';
    font-size: 18px;
    border-radius: 50px;
    transition: 0.4s;
    cursor: pointer;
}
.dropdown_menu:hover {
    background-color: #3e3c76;
}
p.text_dropdown_menu {
    margin: 0px;
}
.dropdown_menu {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #6360B3;
  width: auto;
  overflow: auto;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}
.dropdown_menu:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  display: block;
  color: #FFFFFF;
  padding: 10px;
  text-decoration-skip-ink: none;
  text-decoration-line: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 3px;
}
.dropdown-content a:hover {
  color: #FFFFFF;
  background-color: #00A4BD;
}
/* ========Profile Picture========  */
.img_div_navbar {
    display: block;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 15px;
    }
img.img_profile_pic_navbar{
    width: auto;
    height: 100%;
    margin-left: -60px;
}
