@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,700&display=swap');


div.card_body {
    background-color: #6260AE;
    margin: 20px;
    border-radius: 8%;
    transition: 0.6s;
    max-width: 288px;
}
div.card_body:hover{
    transform:scale(1.2);
    cursor: pointer;
    animation-name: bigentry;

}
.card_content {
    margin: 15px;
}
img.card_image {
    border-top-left-radius: 8%;
    border-top-right-radius: 8%;
    width: 288px;
    height: 162px;
}
.card_title {
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-size: 20px;
    color: #ffffff;
}
.card_text {
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    color: #ffffff;
    width: 100%;
}