{% load static %}

    <link rel="stylesheet" href="{% static 'quiz.me/footer_style.css' %}">
        <div class="footer_background">
            <div class="footer_frame">
                <div class="footer_div">
                    <div class="footer_header">Контактная информация</div>
                    <ul class="footer_links">
                        <li>contact@quiz-me.online</li>
                    </ul>
                </div>
                <div class="footer_div">
                    <div class="footer_header">Основные ссылки</div>
                    <ul class="footer_links">
                        <li><a class="contact_link" href="https://gitlab.informatics.ru/2022-2023/vk/s104/quiz.me">https://gitlab.informatics.ru/</a></li>
                        <li><a class="contact_link" href="https://quiz-me.online">https://quiz-me.online/</a></li>
                    </ul>
                </div>
                <div class="footer_div">
                    <div class="footer_header">Техподдержка</div>
                    <ul class="footer_links">
                        <li><a class="contact_link" href="https://t.me/+5lzQJAp6_YRlZWFi">Telegram</a></li>
                    </ul>
                </div>
            </div>
            <div class="rights">
                (с) 2023. Все права защищены.
            </div>
        </div>