{% load static %}

     <link rel="stylesheet" href="{% static 'quiz.me/navbar_style.css' %}">
<nav class="navbar_frame">
        <div class="navbar_div">
            <div>
            <img class="navbar_image" onclick="window.location='http://127.0.0.1:8000';" src="{% static 'quiz.me/images/logo.svg' %}">
            </div><div>
            <a class="link" href="http://127.0.0.1:8000">Главная</a>
            </div><div>
            <a class="link" href="http://127.0.0.1:8000/quiz/">Все тесты</a>
            </div>
            <!--<div>
            <a class="link" href="http://127.0.0.1:8000/group/">Группы</a>
            </div>-->

            <!--<div class="dropdown_menu">
                <p class="text_dropdown_menu">+</p>

            </div>-->
            <div class="dropdown_menu">
            <div class="img_div_navbar"  onclick="location.href='http://127.0.0.1:8000/account'">
                <img class="img_profile_pic_navbar" src="{% static 'quiz.me/images/image_placeholder.png' %}">
                {% if user.is_authenticated %}
                <div class="dropdown-content">
                    <a href="https://blog.hubspot.com/">Выйти</a>
                    <a href="http://127.0.0.1:8000/account">Мой профиль</a>
                    <!--<a href="http://127.0.0.1:8000/account">Настройки</a>-->
                </div>
                {% else %}
                <div class="dropdown-content">
                    <a href="http://127.0.0.1:8000/account/login">Войти</a>
                    <a href="http://127.0.0.1:8000/account/register">Регистрация</a>
                </div>
                {% endif %}
            </div>
                </div>
        </div>
            <hr class="navbar_seperator">
</nav>