
{% load static %}
    <link rel="stylesheet" href="{% static 'quiz.me/style.css' %}">
    <!-- quiz/{{quiz.id}}  link to quiz -->
    <div  class="card_body" onclick="window.location='quiz'" id="changeOnClick">
        <img class="card_image" src="{% static 'quiz.me/images/image_placeholder.png' %}" alt="Quiz Image">
        <div class="card_content">
        <h5 class="card_title">{{quiz.title|default:"This Quiz has no title"}}</h5>
        <p class="card_text">{{quiz.description|default:"This Quiz has no description"}}</p>
        </div>
    </div>