@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,700&display=swap');

body {
    background-color: #292767;
    margin: 0px;
}
h1.main_h1 {
    font-size:75px;
    margin-top: 35px;
    color: #FFFFFF;
    text-align: center;
}
p.main_p {
    font-size: 16px;
    margin-top: 55px;
    color: #EDDCDC;
    text-align: center;
    margin-right:240px;
    margin-left: 240px;
}
h2.newst-quiz_h2 {
    font-size: 30px;
    margin-top: 75px;
    color: #FFFFFF;
    text-align: center;
}
div.container {
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    padding: auto;
    flex-wrap: wrap;
}

div.button_quiz {
    text-align: center !important;
}


.btn {
    background-color: #6260AE;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
    display: inline-block;
}
.btn:hover {
    background-color: #cfcfe6;
    padding: 15px;
    margin-top: 5px;
    padding-left: 35px;
    padding-right: 35px;
    margin-bottom: 5px;
    transition: 0.6s;
    cursor: pointer;
}
/* style for quiz_card.html */
